.task-manager-container {
  background-color: rgb(236, 249, 255, 0.5);
  min-height: 100vh;
  padding: 10px;
}

.task-manager {
  max-width: 44rem;
  color: #374151;
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
