.task-list {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin-top: 2rem;
}

.task-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.task-item {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1rem;
  margin-right: 1.5rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.task-item-label {
  margin-left: 1rem;
}

.line-through {
  text-decoration: line-through;
  color: gray;
}

.priority-high {
  color: red;
  font-weight: bold;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: green;
}

.task-item-input {
  margin-left: 8px;
  width: 100%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0,  0, 0.6);
  padding: 6px 8px;
  font-size: 16px;
}

.x-button {
  background: white;
  color: #6b7280;
  border: none;
  cursor: pointer;
}

.x-button:hover {
  color: #1f2937;
}

.x-button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tasks-remaining {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.button {
  margin-right: 6px;
  color: #6B7280;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button {
  border: 1px solid white;
}

.button:hover {
  border: 1px solid lightgray;
}

.filter-button.active {
  border: 1px solid lightgray;
}

.clear-completed-tasks-button {
  margin-top: 20px;
  background: white;
  color: #6B7280;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer; 
}

.clear-completed-tasks-button:hover {
  background-color: lightgray;
}

.delete-all-tasks-button {
  margin-top: 20px;
  background: white;
  color: red;
  border: 1px solid red;
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.delete-all-tasks-button:hover {
  background-color: #FFCDD2;
}