.task-input-form {
  display: flex;
  align-items: center; /* Center items vertically in the form */
  justify-content: center; /* Space items evenly horizontally */
  gap: 0.625rem; /* Adds spacing between input, dropdown, and button */
  margin-top: 1rem; /* Space between form and heading */

  input,
  select,
  button {
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: RalewayThin, monospace;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    padding: 0.5rem;
  }
}

.task-input {
  width: 100%;
  max-width: 24rem; /* Limit the input width */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.priority-select {
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.add-task-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #374151;
  border-radius: 0.25rem;
  transition: background 0.3s ease;
  &:hover {
    background: #f5f5f5;
  }
}

/* Responsive behavior */
@media (max-width: 768px) {
  .task-input-form {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch inputs to full width */

    input,
    select,
    button {
      font-size: 4vw;
    }
  }

  .task-input,
  .priority-select,
  .add-task-button {
    width: 100%; /* Full width on small screens */
    margin: 0.25rem 0;
  }
}
