.task-input {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  user-select: none;

  form {
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: center;
    width: 100vw;
  }

  input,
  select,
  button {
    height: unset;
    padding: 1vh 2.5vw 1vh 2.5vw;
    margin: 0.5vw;

    background-color: transparent;
    border: solid 1px;
    border-radius: 0;
    cursor: pointer;
    font-family: RalewayThin, monospace;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
  }
}
